<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="~{general/fragmentos :: head}"/>
 
    <body>
<header th:replace="~{general/fragmentos :: header}"/>
 
        <section th:replace="~{categoria/fragmentos :: editar}"/>
<section th:replace="~{general/fragmentos :: mostrarToast}"/>
 
        <footer th:replace="~{general/fragmentos :: footer}"/>
</body>
</html>